.task{
    display: inline-block;
    padding: 5px 15px;
    height: 30px;
    line-height: 30px;
    background-color: coral;
    text-align: center;
}

.time{
    display: none;
    position:absolute;
    width: 100px;
    height: 50px;
    background-color: crimson;
}

.task:hover .time{
    display: inline-block;
}
